***
<p style="text-align: center">Documentation generated on {{settings 'generatedDate'}}</p>
<p style="text-align: center">**Copyright &copy; {{ settings 'year' }} [{{ settings '$.author.name' }}]({{ settings '$.author.url' }})**</p>
